<div class="container">

  <div class="box">

    <form action=" " method="post" [formGroup]="nameEditor" #formDir="ngForm">

      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="email" class="form-control" id="busca" #busca formControlName="busca" placeholder="AZUL4">
      </div>


      <button class="btn btn-info" [disabled]="nameEditor.invalid" (click)="enviarViaService(busca.value)"> Pesquisar
      </button>

    </form>

  </div>

</div>
