<style>
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }

  .box {
    width: 800px;
    height: 800px;
    background: rgb(255, 255, 255);
  }

  body {
    margin: 0px;
  }
</style>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="box">
      <form action=" " method="post" [formGroup]="nameEditor" #formDir="ngForm">
        <label for="busca">Produto </label>
        <input type="search" id="busca" #busca formControlName="busca"><br><br>

        <label for="busca">Período </label>
        <select id="data" formControlName="data">
          <option value=""></option>
          <option value="1">01/2020</option>
          <option value="2">02/2020</option>
          <option value="3">03/2020</option>
        </select><br><br>

        <button class="btn btn-default" [disabled]="nameEditor.invalid"
          (click)="enviarViaService(busca.value)">Submit</button>
        <button type="button" class="btn btn-default" (click)="formDir.resetForm({})">Reset</button>
      </form>
    </div>
  </div>
</body>

</html>
